{% extends 'base.html' %}
{% block content %}
    <div class="loginbox">
    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
        <div>
            <p class="input"><label for="email">Email</label>
            <input type="email" placeholder="Enter email" name='email' required>
        </div>
        <div>
            <p class="input"><label for="password">Password</label></p>
            <input type="password" placeholder="Password" name='password' required>
        </div>
    
        <button type="submit">Login</button>
    </form>
    <p class="text">or</p>
        <p class = "register"><a href="{% url 'register' %}">Register</a></p>
        {% load socialaccount %}
        <p class = "goog_auth"><a href="{% provider_login_url 'google'%}?next=/index">Sign Up with Google</a></p>
    </div>
    
{% endblock %}